.people-say#people
    .container
        .row.justify-content-center
            .col-lg-10
                .people-say__quotes
                p(class="people-say__description").
                    This is Photoshop`s version of Lorem Ipsum. Proin gravida nibh vel velit autctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    Duis sed odio amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                    Nam rec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequatauctor eu in elit.

        .row.justify-content-center
            .col-lg-2
                h3(class="people-say__name") JANE GALADRIEL
                p(class="people-say__post") CEO TENGKUREP

        .row
            .col-lg.worker
                button(type="button" class="worker__button" id="worker-1")
                    img(src="./img/content/workers/worker-1.png", alt="worker")

                button(type="button" class="worker__button" id="worker-2")
                    img(src="./img/content/workers/worker-2.png", alt="worker")

                button(type="button" class="worker__button" id="worker-3")
                    img(src="./img/content/workers/worker__active.png", alt="worker")

                button(type="button" class="worker__button" id="worker-4")
                    img(src="./img/content/workers/worker-4.png", alt="worker")

                button(type="button" class="worker__button" id="worker-5")
                    img(src="./img/content/workers/worker-5.png", alt="worker")

