.people-say {
  height: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/decoration/background/bg-4.png");
  padding: 70px 0;

  .people-say__quotes {
    margin: 0 auto 40px;
    width: 32px;
    height: 26px;
    background: url("../img/decoration/sprites_decor.png") -80px -80px;
  }

  .people-say__description {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #dfdde3;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    letter-spacing: 0.05em;
  }

  .people-say__name {
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    padding-top: 0;
  }

  .people-say__post {
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    margin: 0;
    letter-spacing: 0.05em;
  }

  .worker {
    padding-top: 40px;
    text-align: center;
  }

  .worker__button {
    border: none;
    background: none;
  }
}

@media only screen and (max-width: 576px) {
  .worker__button {
    padding: 0;
  }
}