.competence#expertise
    .container
        .row.justify-content-center
            .col-lg-6
                h2(class="competence__title") expertise
                p(class="competence__subtitle") Lorem ipsum dolor sit amet proin gravida nibh vel velit
                hr
        .row.align-items-end
            .col-lg-4.border-bottom.border-right
                .competence__computer-icon
                h3 web design & development
                br
                p(class="competence__item-description") This is Photoshop`s version of Lorem ipsum. Proin gravida nibgh vel velit auctor aliquet Aenean.

            .col-lg-4.border-bottom.border-right
                .competence__brush-icon
                h3 brandimg identity
                br
                p(class="competence__item-description") This is Photoshop`s version of Lorem ipsum. Proin gravida nibgh vel velit auctor aliquet Aenean.

            .col-lg-4.border-bottom
                .competence__phone-icon
                h3 mobile app
                br
                p(class="competence__item-description") This is Photoshop`s version of Lorem ipsum. Proin gravida nibgh vel velit auctor aliquet Aenean.

            .col-lg-4.border-right
                .competence__graph-icon
                h3 search engine optimization
                br
                p(class="competence__item-description") This is Photoshop`s version of Lorem ipsum. Proin gravida nibgh vel velit auctor aliquet Aenean.

            .col-lg-4.border-right
                .competence__tetris-icon
                h3 game development
                br
                p(class="competence__item-description") This is Photoshop`s version of Lorem ipsum. Proin gravida nibgh vel velit auctor aliquet Aenean.

            .col-lg-4
                .competence__heart-icon
                h3 made with love
                br
                p(class="competence__item-description") This is Photoshop`s version of Lorem ipsum. Proin gravida nibgh vel velit auctor aliquet Aenean.
