.our-teams#teams
    .container
        .row.justify-content-center
            .col-lg-6
                h2(class="our-teams__title") MEET OUR AMAZING TEAM
                p(class="our-teams__subtitle") Lorem ipsum dolor sit amet proin gravida nibh vel velit
                hr
        .row.justify-content-around
            .col-lg-12
            include ../mixins/_teams.pug

        .row.justify-content-center
            .col-lg
                span(class="our-teams__description") Become part of our dream team, let`s join us!
                button(type="button" class="our-teams__btn btn btn--default") WE ARE HIRING