.aboutUs#about
    .container
        .row
            .col-lg-5
                img(src="./img/content/big-logo.png", alt="big-logo")
            .col-lg
                h2(class="aboutUs__title") OUR STORY
                p(class="aboutUs__subtitle").
                    This is Photoshop`s version of Lorem Ipsum. Proin gravida
                    niph vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                    auctor, nisi elit consequat ipsum, nec sagitis sem nibh id elit.
                    Duis sed odio sit amet nibh vulpudate cursus.
                p(class="aboutUs__subtitle").
                    Morbi accumsanipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    Sed non mauris vitae erat consequatauctor eu in elit. Class aptent taditi sociosqu
                    ad litora torquent per cunubia nostra per inceptos himeanaeos.
                button(type="button" class="aboutUs__btn btn btn--default") LEARN MORE