.modal.modal--hidden#openModal
    .modal__dialog
        .modal__content
            .modal__header
                h3(class="modal__title")
                a(href="#close" title="Close" class="modal__close") ×
            .modal__body
                p(class="modal__text")