.home
    .container
        .row
            .col-lg
                h2(class="home__title") we are awesome creative agency
                hr
                p(class="home__subtitle").
                    This is Photoshop`s version of Lorem Ipsum. Proin gravida nibh vel velit autctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    Duis sed odio amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                button(type="button" class="home__btn btn btn--default") LEARN MORE
