.main-footer
    .container
        .row
            .col-lg-4
                img(src="./img/content/logo.png", class="main-footer__logo", alt="logo")
                p(class="main-footer__subtitle").
                    lorem quis bibendum auctor, nise elit
                    consequat ipsum, nec sagittis sem nibh elit.
                    Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
            .col-lg-4.main-footer__padding
                h2(class="main-footer__title") our studio
                p(class="main-footer__subtitle main-footer__address").
                    #[span]Ruko cucruk, Jl. Radio luar dalem jos
                    No.12 - 13, Kalideres - Jakarta Barat
                    11480 - Indonesia
                p(class="main-footer__number") #[span](+62) 21-2224 3333
            .col-lg-4
                h2(class="main-footer__title") stay in touch
                .main-footer__search-wrapper
                    input(type="search" class="main-footer__search" placeholder="Subscribe our newsletter")
                    button(type="submit" class="main-footer__search-btn" name="sendMail")
                        img(src="img/decoration/btn.png" alt="send mail")
                .main-footer__socials
                    a(href="", class="facebook")
                    a(href="", class="twitter")
                    a(href="", class="dribble")
                    a(href="", class="instagram")
                    a(href="", class="googleplus")
                    a(href="", class="youtube")

        .row.justify-content-between.align-items-center.mt-4
            .col-lg-4
                ul(class="main-footer__help-list")
                    li
                        a(href="") HELP
                    li
                        a(href="") TERMS & CONDITION
                    li
                        a(href="") PRIVACY
            .col-lg-4
                span(class="main-footer__copyright") Copyright &copy; 2015 - Tajem Creative