header(class="main-header")
    .container
        .row.align-items-center
            .col.col-lg-5
                img(src="./img/content/logo.png", alt="logo" class="main-header__logo")
            .col.col-lg-7
                button(type="button" class="main-header__menu-btn btn btn--desktop-hidden" aria-label="btn-burger")
                    span
                .main-header__overlay.overlay.overlay--hidden
                ul(class="main-header__list-links list-links list-links--m-s-hidden")
                    li(class="main-header__list-item")
                        a(href="#" class="main-header__link") home
                    li(class="main-header__list-item")
                        a(href="#about" class="main-header__link") about
                    li(class="main-header__list-item")
                        a(href="#expertise" class="main-header__link") expertise
                    li(class="main-header__list-item")
                        a(href="#teams" class="main-header__link") teams
                    li(class="main-header__list-item")
                        a(href="#works" class="main-header__link") works
                    li(class="main-header__list-item")
                        a(href="#people" class="main-header__link") people say
                    li(class="main-header__list-item")
                        a(href="#contact" class="main-header__link") contact