.our-contact#contact
    .container
        .row.justify-content-center
            .col-lg-6
                h2(class="our-contact__title") give us a good news
        .row.justify-content-center
            .col-lg-6
                form(method="post")
                    input(type="text" placeholder="Name")

                    input(type="email" placeholder="Email")

                    input(type="text" placeholder="Subject")

                    textarea(name="msg", cols="30", rows="10" placeholder="Your Message")

                    button(type="button" class="our-contact__btn btn btn--default") SUBMIT
