.our-works#works
    .container
        .row.justify-content-center
            .col-lg-8
                h2(class="our-works__title") our works
            .col-lg-4
                a(href="#" class="our-works__link link") See All Project in dribbble
                    .link__arrow
    .container-fluid
        .row
            .col-lg-12.no-padding
                ul(class="our-works__list-examples")
                    li
                        img(src="img/content/works/works-1.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-2.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-3.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-4.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-5.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-6.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-7.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-8.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-4.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-10.png" alt="Our Works")
                    li
                        img(src="img/content/works/works-11.png", alt="Our Works")
                    li
                        img(src="img/content/works/works-12.png", alt="Our Works")
            .col-12
                button(type="button" class="our-works__btn btn btn--default") LOAD MORE
